<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/editarTorneo.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body id="editarTorneo" class="container">
        <%- include('header') %>
        <h2>EDITAR TORNEO</h2>
        
            <form action="/listaTorneos/editar" method="POST">
                <div class="grid-container">
                    <div id="Column1">
                        <label for="fname">Nombre del torneo:</label><br>
                        <input type="text" id="fname" name="t_nombre" value="<%=torneo.nombre%>"><br><br>
                        <label for="lname">Fecha de inicio:</label><br>
                        <input type="text" id="lname" name="t_f_ini" value="<%=torneo.f_ini%>"><br><br>
                        <label for="lname">Fecha de finalización:</label><br>
                        <input type="text" id="lname" name="t_f_fin" value="<%=torneo.f_fin%>" ><br><br>
                        <label for="lname">Descripción:</label><br>
                        <input type="text" id="lname" name="t_descripcion"  value="<%=torneo.descripcion%>" ><br><br>
                        <label for="lname">Estado:</label><br>
                        <select name="estado" class="submit">
                            <% if(torneo.estado=="Abierto" ){ %>
                                <option value="Abierto" >Abierto</option>
                                <option value="En curso"  >En curso</option>
                            <% } if(torneo.estado=="En curso"){ %>  
                                <option value="En curso"  >En curso</option>
                                <option value="Cerrado" >Cerrado</option>
                            <% } %>
                        </select>
                    </div>
                    <div id="Column2">
                        <label for="fname">Partidos por Día:</label><br>
                        <input type="text" id="fname" name="t_partDia"><br><br>
                        <label for="lname">Puntos al Ganar:</label><br>
                        <input type="text" id="lname" name="t_pGanar"><br><br>
                        <label for="lname">Puntos al Empatar:</label><br>
                        <input type="text" id="lname" name="t_pEmpate"><br><br>
                        <label for="lname">Puntos al Perder:</label><br>
                        <input type="text" id="lname" name="t_pPerder"><br><br>
                    </div>

                    <div>
                        <label for="lname">Tipo de Torneo:</label><br>
                        <input type="text" id="lname" name="t_tipo" readonly="disabled" value="<%= torneo.tipoTorneo %>"><br><br>
                        <label for="lname">ID Torneo:</label><br>
                        <input type="text" id="lname" name="t_id" readonly="disabled" value="<%= torneo.id %>"><br><br>
                        <label for="lname">Maximo N° de participantes:</label><br>
                        <input type="text" id="lname" name="t_cantMax" readonly="disabled" value="<%= torneo.cantMax %>"><br><br>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <a id="modal_but_cancelar" href="/listaTorneos/1" class="btn btn-warning" type="button">
                        Cancelar
                    </a>
                    <button id="modal_but_grabar" class="btn btn-warning" type="submit">
                        Grabar
                    </button>
                </div>
            </form>
        
    </body>
</html>