<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/usuarios.css" type="text/css"/>
    <link href="/styles/catalogo.css" rel="stylesheet" type="text/css" />
    <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E
    <link href=" https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.bundle.js"></script>
</head>

<body class="container">
    <%- include('header') %>
    <div id="box">
        <h2>Editar usuario</h2>
                <form name="formulario" action="/usuario/editar" method="POST" class="mx-2">
                    <div>
                        <label class="form-label">ID</label>
                        <input readonly="true" value="<%= usuario.id %>" name="u_id" type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="form-label">Nombre</label>
                        <input id="inputnombre" value="<%= usuario.nombre %>" name="u_nombre" type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="form-label">Correo</label>
                        <input value="<%= usuario.correo %>" name="u_correo" type="text" class="form-control" />
                    </div>
                    <div>
                        <label class="form-label">Clave</label>
                        <input value="" name="u_clave" type="text" class="form-control" />
                    </div>
                    <div>
                        <input type="radio" id="Administrador" name="u_rol" value="Administrador">
                        <label for="admin">Administrador</label><br>
                        <input type="radio" id="Organizador" name="u_rol" value="Organizador">
                        <label for="orga">Organizador</label><br>
                        <input type="radio" id="Lider" name="u_rol" value="Lider">
                        <label for="partic">Lider</label>
                    </div>
                    <div class="modal-footer">
                        <a href="/usuarios/1" class="btn btn-success" type="button">
                            Cancelar
                        </a>
                        <button class="btn btn-success" type="submit">
                            Confirmar
                        </button>
                    </div>
                    <div id="rol"><%= usuario.rol %></div>
                </form>                
                <script src="\js\editarUsuario.js"></script>
    </div>
</body>

</html>