<!DOCTYPE html>
<html>
    <head>
        <title>Lista Proyectos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/2ea0428ee7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles/listaProyectos.css" type="text/css">
        <link rel="stylesheet" href="/styles/inicio.css">
        <script src="https://kit.fontawesome.com/a6406a81fb.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <%- include('header.ejs') %>
        <div class="row"> 
            <div id="colFiltros" class="col-3 mb-5 mt-5">
                
                <div class="row mt-5">
                    <div class="col-11">

                        <div class="card mb-3">
                            <div class="card-body filtros">
        
                              <nav class="">
                                    <!--form action="/listaProyectos/filt" method="POST"-->
                                        <label for="btn" class="button">All Categories
                                            <span class="fas fa-caret-down"></span>
                                        </label>
                                        <input type="checkbox" id="btn">
                                        <ul class="menu">
                                            <li><a href="/listaProyectos">Home</a></li>
                                            <li>
                                                <label for="btn-2" class="first">ARTE
                                                </label>
                                                <input type="checkbox" id="btn-2">
                                                <ul>
                                                    <li><a href="/listaProyectosFiltro/comics">Comics</a></li>
                                                    <li><a href="/listaProyectosFiltro/articulos_artisticos">Articulos Artisticos</a></li>
                                                    <li><a href="/listaProyectosFiltro/diseños">Diseños</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label for="btn-3" class="second">TECNOLOGÍA
                                                </label>
                                                <input type="checkbox" id="btn-3">
                                                <ul>
                                                    <li><a href="/listaProyectosFiltro/pagina_web">Páginas Web</a></li>
                                                    <li><a href="/listaProyectosFiltro/app_movil">App Movil</a></li>
                                                    <li><a href="/listaProyectosFiltro/hardware">Hardware</a></li>
                                                    <li><a href="/listaProyectosFiltro/software">Software</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label for="btn-4" class="third">COMUNICACIONES
                                                </label>
                                                <input type="checkbox" id="btn-4">
                                                <ul>
                                                    <li><a href="/listaProyectosFiltro/pelicula">Peliculas</a></li>
                                                    <li><a href="/listaProyectosFiltro/animaciones">Animaciones</a></li>
                                                    <li><a href="/listaProyectosFiltro/videojuegos">Videojuegos</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label for="btn-5" class="second">INVENTOS
                                                </label>
                                                <input type="checkbox" id="btn-5">
                                                <ul>
                                                    <li><a href="/listaProyectosFiltro/deporte">Deporte</a></li>
                                                    <li><a href="/listaProyectosFiltro/hogar">Hogar</a></li>
                                                    <li><a href="/listaProyectosFiltro/oficina">Oficina</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label for="btn-6" class="second">MISCELANEO
                                                </label>
                                                <input type="checkbox" id="btn-6">
                                                <ul>
                                                    <li><a href="/listaProyectosFiltro/musica">Música</a></li>
                                                    <li><a href="/listaProyectosFiltro/comida">Comida</a></li>
                                                    <li><a href="/listaProyectosFiltro/juegos_de_mesa">Juegos de mesa</a></li>
                                                </ul>
                                            </li>
                    
                                        </ul>
                                    <!--/form-->
                                </nav>
        
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body filtros">
                                <h5 class="card-title">Filtros</h5>

                                <!--h6 class="card-subtitle mb-2 text-muted">Recomendados</h6-->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-1">
                                    <label for="checkbox-1" class="custom-control-label mt-3">Recomendados</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-2">
                                    <label for="checkbox-2" class="custom-control-label mt-3">Recently Added</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-3">
                                    <label for="checkbox-3" class="custom-control-label mt-3">Expiring Soon</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-4">
                                    <label for="checkbox-4" class="custom-control-label mt-3">Most Rated</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-5">
                                    <label for="checkbox-5" class="custom-control-label mt-3">Price: Low -> High</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-6">
                                    <label for="checkbox-6" class="custom-control-label mt-3">Price: High -> Low</label>
                                </div>

                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body filtros">
                              <h5 class="card-title">Año de Publicacion</h5>
                              
                                <!--h6 class="card-subtitle mb-2 text-muted">Recomendados</h6-->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-7">
                                    <label for="checkbox-7" class="custom-control-label mt-3">2018</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-8">
                                    <label for="checkbox-8" class="custom-control-label mt-3">2019</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-9">
                                    <label for="checkbox-9" class="custom-control-label mt-3">2020</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-10">
                                    <label for="checkbox-10" class="custom-control-label mt-3">2021</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-11">
                                    <label for="checkbox-11" class="custom-control-label mt-3">2022</label>
                                </div>
                            </div>
                        </div>
        
                        

                    </div>
                </div>

            </div>   

            <div id="colCartas" class="col-9 mb-5 mt-5">

                <div class="row mt-5">
                    <div class="col-4">
                        <label for="sortBy" class="">Sort by</label>
                        <select class="form-control" id="sortBy">
                            <option value="0">Most Popular</option>
                            <option value="1">Least Popular</option>
                            <option value="2">Newest</option>
                            <option value="3">Oldest</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="condition" class=""></label>
                        <select class="form-control" id="condition">
                            <option value="0">Condition</option>
                            <option value="1">Condition 1</option>
                            <option value="2">Condition 2</option>
                            <option value="3">Condition 3</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="delivery" class=""></label>
                        <select class="form-control" id="delivery">
                            <option value="0">Delivery Options</option>
                            <option value="1">Delivery 1</option>
                            <option value="2">Delivery 2</option>
                            <option value="3">Delivery 3</option>
                        </select>
                    </div>
                </div>

                <!--CARTAS PROYECTOS-->
                <% lproy.forEach((p) => { %>
                    <div class="card mb-3 mt-4">
                        <img src="/images/<%= p.imagen %>" class="card-img-top imagen" alt="PROYECTO - IMG">
                        <div class="card-body row">
                            <div class="col-9">
                                <h2 class="card-title"><%= p.nombre %></h2>
                                <p class="card-text"><%= p.descripcion %></p>
                                <p class="card-text price">$<%= p.montoRecaudado %>&nbsp;&nbsp;&nbsp;<small class="text-muted">Monto Recuadado</small></p>
                                <div class="stars">
                                    <span class="fa fa-star fa-3x checked"></span>
                                    <span class="fa fa-star fa-3x checked"></span>
                                    <span class="fa fa-star fa-3x checked"></span>
                                    <span class="fa fa-star fa-3x checked"></span>
                                    <span class="fa fa-star fa-3x"></span>
                                </div>
                            </div>
                            <div class="col-3">
                                <a href="/verProyecto/<%= p.id %>" type="button" class="btn btn-success mb-3">Ver Proyecto</a>
                            </div>
                        </div>
                    </div>   
                <% }) %>
<!--
                <div class="card mb-3 mt-3">
                    <img src="/images/imgProy2.jpg" class="card-img-top" alt="PROYECTO 1 - IMG">
                    <div class="card-body">
                        <h2 class="card-title">PROYECTO 2</h2>
                        <p class="card-text">INFORMACIÓN.....</p>
                        <p class="card-text price">$49.50&nbsp;&nbsp;&nbsp;<small class="text-muted">Inversión minima</small></p>
                        <div class="stars">
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x"></span>
                            <span class="fa fa-star fa-3x"></span>
                        </div>
                    </div>
                </div>  
                <div class="card mb-3 mt-3">
                    <img src="/images/imgProy3.jpg" class="card-img-top" alt="PROYECTO 1 - IMG">
                    <div class="card-body">
                        <h2 class="card-title">PROYECTO 3</h2>
                        <p class="card-text">INFORMACIÓN.....</p>
                        <p class="card-text price">$49.50&nbsp;&nbsp;&nbsp;<small class="text-muted">Inversión minima</small></p>
                        <div class="stars">
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x checked"></span>
                            <span class="fa fa-star fa-3x"></span>
                        </div>
                    </div>
                </div> -->  
            </div>
        </div> 
    </body>
</html>