<!DOCTYPE html>
<html>

    <head>
        <link href="/styles/listaPosiciones.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body>
        <%- include('header') %>
        <h2>POSICIONES: <%= torneo.nombre %></h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <% Torneo_Equipo.forEach((te) => { %> 
                        <th><%= te.id_e.id %></th>
                    <% }) %>
                    <th>Puntaje Total</th>
                </tr>
            </thead>
            <tbody id="data_torneo">
                <% Torneo_Equipo.forEach((te) => { %> 
                    <% var cont=0 %>
                    <tr>
                        <td><%= te.id_e.id + " - " + te.id_e.nombre %></td>
                        <% Torneo_Equipo.forEach((te2) => { %>
                            <% if(te.id == te2.id){ %>
                                <td> - </td>
                            <% } else{ %> 
                                <% Torneo_Partida.forEach((p) => { %>
                                    <% if((p.id_e1.id == te.id_e.id && p.id_e2.id == te2.id_e.id)||(p.id_e2.id == te.id_e.id && p.id_e1.id == te2.id_e.id)){ %>
                                            <% if(p.id_p.ganador == te.id_e.id){ %>
                                                <td><%= torneo.puntosPartGanada %></td>
                                                <% cont = cont + torneo.puntosPartGanada %>
                                            <% }else{ %>
                                                <td><%= torneo.puntosPartPerdida %></td>
                                            <% } %>
                                    <%}else{%>                                         
                                    <% } %>
                                    
                                <% }) %>
                            <% } %>
                        <% }) %>
                        <td><%= cont %></td>
                    </tr>
                <% }) %>
            </tbody> 

            
        <table class="table table-hover">
    </body>

</html>