<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/listatorneos.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
    </head>

    <body id="listatorneos" class="container">
        <%- include('header') %>
        <div id="tabla">
            <h2>Lista de torneos</h2>
            <div class="row">
                <% if(rol!=null&&rol=="Organizador") { %>
                <div class="col-5">
                    <form method="POST" action="/listaTorneos/nombre/name">
                        <input placeholder="Nombre Torneo" name="name" type="text" class="form-control">
                    </form>
                </div>
                <% } %>
                <div class="col-5">
                <form  action="/listaTorneos/filt" method="POST">
                    <% if(rol!=null&&rol=="Lider") { %>
                            <select name="filtro" class="form-select" aria-label="Default select example">
                                <option value="Abierto">Abierto</option>
                                <option value="En curso">En curso</option>
                                <option value="Cerrado">Cerrado</option>
                            </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-success">Filtrar</button>
                    </div>
                    <% } %>
                </form>
            </div>
            <table class="table table-hover table table-dark table-striped">
                <thead>
                    <tr>
                         <!-- id  -->
                         <% if(rol=="Organizador") { %> <th>ID</th><% } %>
                         <!-- nombre -->
                         <th>Nombre</th>
                         <!-- fecha inicio -->
                         <% if(rol=="Organizador") { %> <th>Fecha de Inicio</th><% } %>
                         <!-- fecha fin -->
                         <% if(rol=="Organizador") { %> <th>Fecha de Fin</th><% } %>
                         <!-- nro de equipos 1 -->
                         <% if(rol!="Organizador") { %><th>Nro Equipos </th><% } %>
                         <!-- nro de equipos 2 -->
                         <% if(rol=="Organizador") { %> <th>Nro Participantes</th><% } %>
                         <!-- cant max -->
                         <% if(rol=="Lider") { %> <th>Cant Max</th><% } %>
                         <!-- descripcion -->
                         <% if(rol!="Organizador") { %> <th>Descripcion</th><% } %>
                         <!-- estado -->
                         <% if(rol!=null&&rol=="Lider") { %> <th>Estado</th><% } %>
                         <!-- juego -->
                         <% if(rol!=null&&rol=="Lider") { %> <th>Juego</th><% } %>
                         <!-- tipo  -->
                         <% if(rol!=null&&rol=="Lider") { %> <th>Tipo</th><% } %>
                         <!-- accion -->
                         <% if(rol=="Organizador") { %> <th>Accion</th> <% } %>
                         <!-- inscripcion -->
                         <% if(rol!=null&&rol=="Lider") { %> <th>Inscribete</th> <% } %>
                         
                         <!-- ver torneo -->
                         <th>Ver torneo</th>
                          
                    </tr>
                </thead>
                <tbody id="data_torneo">
                    <% torneo.forEach((t) => { %> 
                        <tr>
                            <form action='/listaTorneos/getTorneo' method="POST" id="Sample">
                                <% if(rol!="Lider"&&rol!=null) { %><td><input type="hidden" name="t_id" value="<%= t.id %>"><%= t.id %></td><% } %>
                            <!-- ID -->
                            <% if(rol!="Lider"&&rol!=null&&rol!="Organizador") { %></td><% } %>
                            <!-- Nombre -->
                             <td><%= t.nombre %></td>
                             <!-- fecha inicio -->
                             <% if(rol=="Organizador") { %><td><%= t.f_ini %></td><% } %>
                             <!-- fecha fin -->
                             <% if(rol=="Organizador") { %> <td><%= t.f_fin %></td><% } %>
                             <!-- Nro de equipos -->
                             <% if(rol!="Organizador") { %>  
                                <td>
                                    <% numP.forEach((tcount) =>{ %>
                                            <% if(tcount.id_t==t.id){ %>
                                                <%= tcount.count%>
                                            <% }  %>
                                    <% }) %> 
                                     /<%= t.cantMax %> 
                                </td>
                            <% } %>
                            <!-- nro de equipos 2 -->
                            <% if(rol=="Organizador") { %>  
                                <td>
                                    <% numP.forEach((tcount) =>{ %>
                                            <% if(tcount.id_t==t.id){ %>
                                                <%= tcount.count%>
                                            <% }  %>
                                    <% }) %> 
                                     /<%= t.cantMax %> 
                                </td>
                            <% } %>
                            <!-- cantidad max -->
                            <% if(rol=="Lider") { %> <td><%= t.cantMax %></td><% } %>
                            <!-- descripcion -->
                            <% if(rol!="Organizador") { %><td><%= t.descripcion %></td><% } %>
                            <!-- estado -->
                            <% if(rol!=null&&rol=="Lider") { %><td><%= t.estado %></td><% } %>
                            <!-- id juego -->
                            <% if(rol!=null&&rol=="Lider") { %><td><%= t.idJuego %></td><% } %>
                            <!-- tipo torneo -->
                            <% if(rol!=null&&rol=="Lider") { %><td><%= t.tipoTorneo %></td><% } %>
                            <!-- accion -->
                            <% if(rol=="Organizador") { %> 
                            <td>
                                <a class="btn btn-warning" href="/listaTorneos/editar/<%= t.id %>" type="button">Editar</a>
                                <a  class="btn btn-warning" href="#" type="button">Organizar</a>
                            </td>
                            <% } %>
                            <!-- Inscripcion -->
                            <%if (rol!=null&&rol=="Lider"&& t.estado!="Cerrado" ) { %>
                                <td>
                                    <button id="modal_but_grabar" class="btn btn-success" type="submit">Inscribir</button>
                                </td>
                            <% } %>
                            <!-- nose 
                            <%if (rol!=null&&rol=="Lider") { %>
                                <td></td>
                            <% } %> -->
                            <!-- ver torneo  -->
                            <td>
                                <a class="btn btn-success" href="/verTorneo/<%= t.id %>">Ver</a>
                            </td>

                            </form>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <div class="row">
                <div id="crearTorneo" class="col-4">
                    <a href="/listaTorneos/1" type="button" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
       
    </body>
</html>