<ul class="ull">
    <div class = "notification">
        <a class="nots" href = "#">
        <div class = "notBtn" href = "#">
          <div class = "number"><%= n_notifs %></div>
          <i class="fas fa-bell"></i>
            <div class = "box">
              <div class = "display">
                <div class = "nothing"> 
                  <div class = "cent">No hay ninguna notificación</div>
                </div>
                <div class = "cont">
                <% notifs.forEach((n) => { %>
                    <div class = "sec new">
                        <div class = "profCont"></div>
                        <div class = "txt"><%= n.texto %></div>
                        <% if(n.link!="NONE") { %>
                          <a href = "<%= n.link %>">Enlace</a>
                        <% }%>
                        <div class = "txt sub"><%= n.fecha.getHours().toString() +":"+ n.fecha.getMinutes().toString()+" | "+ n.fecha.getDate().toString()+"/"+ n.fecha.getMonth().toString() +"/"+ n.fecha.getFullYear().toString()%></div>
                        <form action="/deleteNotif" method="POST">
                          <td><input type="hidden" name="nID" value="<%= n.id %>"></td>
                          <button id="boton" class="btn btn-success" type="submit">cerrar</button>
                        </form>
                    </div>
                <% }) %>
               </div>
              </div>
           </div>
        </div>
        </a>
    </div>
</ul>