<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/jugador.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/backend/assets/js/ErrorMessage.js"></script>
    </head>
 
    <body class="container">
        <%- include('header') %>
        <h3>EQUIPO ELEGIDO</h3>
        <form action='/verEquipo' method="POST">
            <div><label class="form-label">ID: <%= equipo.id %> </label></div>
            <div><label class="form-label">Nombre: <%= equipo.nombre %> </label></div>
            <div><label class="form-label">Fecha inicio: <%= equipo.f_cr %> </label></div>
            <div><label class="form-label">ID usuario líder: <%= equipo.idLider %> </label></div>
        </form>
        <h3>PARTICIPANTES DEL EQUIPO</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Contraseña</th>
                    <th>Ver usuario</th>
                </tr>
            </thead>
            <tbody id="data_torneo">
                <% usuario.forEach((u) => { %> 
                    <tr>
                        <td><%= u.id %></td>
                        <td><%= u.nombre %></td>
                        <td><%= u.email %></td>
                        <td><%= u.contraseña %></td>
                        <td>
                            <a href="/verUsuario/<%= u.id %>">Ver usuario</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
    </body>
</html>