<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/jugador.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/backend/assets/js/ErrorMessage.js"></script>
    </head>
 
    <body class="container">
        <%- include('header') %>
        <h3>PARTIDO ELEGIDO</h3>
        <form action='/verPartido' method="POST">
            <div><label class="form-label">ID: <%= partido.id %> </label></div>
            <div><label class="form-label">Fecha: <%= partido.fecha %> </label></div>
            <div><label class="form-label">Hora inicio: <%= partido.h_ini %> </label></div>
            <div><label class="form-label">Hora fin: <%= partido.h_fin %> </label></div>
            <div><label class="form-label"[>[Particion en dos columnas, cada una con un equipo respectivo]</label></div>
        </form>
    </body>
</html>