<!DOCTYPE html>
<html>
    <head>
        <link href="/styles/ronda.css" rel="stylesheet" type="text/css" />
        <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/styles/llaveTorneo.css" rel="stylesheet" type="text/css" /><!--Agregado para la llave-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="/backend/assets/js/ErrorMessage.js"></script>
    </head>
<
    <body id="listatorneos" class="container">
        <%- include('header') %>
        <h3><%= ronda.nombre %> - <%= torneo.nombre %></h3>
        
        <table class="table table-hover table table-dark table-striped">
            <thead>
                <tr>
                    <% if(rol=="Organizador") { %>
                        <th>Equipo 1</th>
                        <th>Equipo 2</th>
                        <th>Fecha</th>
                        <th>Hora de inicio</th>
                        <th>Ganador</th>
                        <th>Seleccionar ganador</th>
                        <th>Grabar Resultados</th>
                    <% } %>
                    <% if(rol!="Organizador") { %>
                        <th>Equipo 1</th>
                        <th>Equipo 2</th>
                        <th>Fecha</th>
                        <th>Hora de inicio</th>
                        <th>Ganador</th>
                    <% } %>
                </tr>
            </thead>
            <tbody id="data_torneo">
                
                <% partido.forEach((p) => { %> 
                    <tr>
                        <form action='/verRonda/Torneo:idt/Ronda:idr' method="POST" id="Sample">
                        <% if(rol=="Organizador") { %>
                            <td style="display:none;"><input type="hidden" name="p_id" value="<%= p.id %>"><%= p.id %></td></input></td>
                            <td><%= p.id_e1.nombre %></td>
                            <td><%= p.id_e2.nombre %></td>
                            <td><%= p.fecha %></td>
                            <td><%= p.h_fin %></td>
                            <td><% if(p.ganador == undefined){ %>
                                    <div>----</div>
                                <% } else{ %>  
                                    <div>Ganador : <%= p.ganador %></div>
                                <% } %>
                            </td>
                            <td>  
                                <select id="select_resultado" name="p_resultado" class="form-select">
                                        <option value="<%= p.id_e1.id %>" selected="true"><%= p.id_e1.nombre %></option>
                                        <option value="<%= p.id_e2.id %>" ><%= p.id_e2.nombre %></option>
                                </select>
                            </td>  
                                <td><button id="h_verTorneos" class="btn btn-info mb-3 boton_submit" type="submit">Grabar</button></td>
                        <% } %>
                        <% if(rol!="Organizador") { %>
                            <td style="display:none"><input type="hidden" name="p_id" value="<%= p.id %>"><%= p.id %></td></input></td>
                            <td><%= p.id_e1.nombre %></td>
                            <td><%= p.id_e2.nombre %></td>
                            <td><%= p.fecha %></td>
                            <td><%= p.h_fin %></td>
                            <td><% if(p.ganador == undefined){ %>
                                    <div>----</div>
                                <% } else{ %>  
                                    <div>Ganador : <%= p.ganador %></div>
                                <% } %>
                            </td>
                        <% } %>
                        </form>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
        <a id="añadir_partido" href="/crearPartido/Torneo<%= torneo.id %>/Ronda<%= ronda.id %>" class="btn btn-info mb-3">Crear partido</a>
        <a id="h_verTorneos" href="/verTorneo/<%= ronda.idTorneo %>" class="btn btn-info mb-3">Volver</a>
        <script src="\js\verRonda.js"></script>
    </body>
</html>